# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Code\flink-machine-learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
